.search-filter {
	&__form-container {
		padding: 35px;

		.search-form {
			&__filter {
				color: #fff;

				.filter-container {

					&__active {
						background-color: #ff9c9c;
					}
				}
			}
		}
	}
}
