.app-header {
	background-image: url("../../assets/bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 10px;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		color: #ff9c9c;
		font-size: 20px;
	}

	&__search-btn {
		width: 80px;
		height: 30px;
		color: #ff9c9c;
		border-radius: 5px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.3px;
		cursor: pointer;
	}
}
